{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "keess.fullname" . }}
  labels:
    {{- include "keess.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - configmaps
  - secrets
{{- if .Values.enableDeletes }}
  verbs: ["get", "create", "update", "patch", "delete", "list", "watch"]
{{- else }}
  verbs: ["get", "create", "update", "patch", "list", "watch"]
{{- end }}
- apiGroups: [""]
  resources:
  - namespaces
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - nodes
  verbs: ["list"]
- apiGroups: [""]
  resources:
  - events
  verbs: ["create"]
{{- end }}
